# Test run report

**Command:** mvn test

**Result:** BUILD SUCCESS

**Summary:** Tests run: 2, Failures: 0, Errors: 0, Skipped: 0

**Run time:** 2026-01-28T15:09:04+03:00
